* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
}

header {
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: rgb(63, 61, 61);
}

header img {
    height: 25px;
    width: 25px;
}

body {
    background-image: linear-gradient(to right, #05347a, #00316a, #002e59, #002948, #022337);
}

.projectTitle {
    font-size: 25px;
    font-weight: 600;
}

.progressBar {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-bottom: 20px;
    align-items: center;
    color: rgb(63, 61, 61);
}

.progress {
    height: 27px;
    width: 27px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.progress img {
    height: 20px;
    width: 20px;
    border: 1.3px solid black;
    padding: 8px;
    border-radius: 7px;
}

.progress .progressText {
    font-size: 9px;
    text-align: center;
}

.progressLine {
    background-color: black;
    height: 1.5px;
    width: 50px;
    align-self: center;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 10px 0;
}

/* part 1 of the form */
.part1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.formPart1 {
    height: 100%;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 2px solid rgb(28, 27, 27);
}

.portfolioName {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    font-size: 15px;
    width: 88%;
    margin: 24px 6%;
}

.portfolioInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    width: 100%;
}

#portfolioNameInput {
    color: black;
}

.portfolioType,
.riskTolerance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 6% 24px 6%;
    gap: 2.5px;
}

.radioPortfolioType,
.riskToleranceRadio {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.radioPortfolioTypeElement,
.riskToleranceRadioElement {
    display: flex;
}

.portfolioTypeText,
.riskToleranceText {
    text-align: center;
    font-size: 13px;
    border: 1.5px solid black;
    padding: 5px 9px;
    border-radius: 10px;
    cursor: pointer;
}

.radioPortfolioTypeElement input:checked+.portfolioTypeText,
.riskToleranceRadioElement input:checked+.riskToleranceText {
    background-color: rgb(7, 2, 32);
}

.investmentGoalSelect,
.investmentHorizon {
    display: flex;
    flex-direction: column;
    width: 88%;
    padding: 0px 6% 24px 6%;
    gap: 2.5px;
}

.investmentGoalDropdown,
.investmentHorizonDropdown {
    color: black;
    width: 100%;
}

.investmentGoalDropdown select,
.investmentHorizonDropdown select {
    color: black;
    width: 100%;
}

.investmentGoalDropdown option,
.investmentHorizonDropdown option {
    color: black;
}

.portfolioName input,
.investmentGoalSelect select,
.investmentHorizon select {
    height: 22px;
}

.formTitle {
    font-size: 15px;
    font-weight: 600;
}


/* part 2 of the form  */
.part2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.formPart2 {
    height: 100%;
    display: flex;
    width: 47%;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 2px solid rgb(28, 27, 27);
}

.annualInvestmentCapacity {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    font-size: 15px;
    width: 88%;
    margin: 24px 6%;
}

.annualCapacityContainer {
    display: flex;
    gap: 2.5px;
}

.annualCapacityContainer select {
    height: 100%;
    border-radius: 8px;
    color: black;
}

.annualCapacityContainer option {
    color: black;
}

.annualCapacityContainer input {
    width: 100%;
    height: 22px;
    color: black;
}

.annualCapacityInput {
    width: 100%;
}

.lumpMonthly {
    display: flex;
    gap: 1.5%;
    font-size: 15px;
    width: 88%;
    margin: 0px 6% 24px 6%;
    /* background-color: green; */
}

.lumpSumAmount,
.monthlyContribution {
    display: flex;
    flex-direction: column;
    /* background-color: grey; */
    width: 50%;
}

.lumpSumAmount input,
.monthlyContribution input {
    height: 22px;
    width: 97%;
    color: black;
    /* width: 250px; */
}

.assetSubheading {
    font-size: 11px;
}

.assetDiv {
    /* background-color: red; */
    /* width: 88%; */
    margin: 0px 6% 1.5% 6%;
}

.assets {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    gap: 3px;
}

.assetDropdown select,
.assetDropdown option,
.percentageAllocationInput,
.specificFundInputAuto,
.getCurrentValue {
    color: black;
}

.deleteAssetDiv {
    display: flex;
    gap: 4px;
    height: 22px;
}

.removeAsset {
    display: flex;
    align-items: flex-end;
    /* background-color: green; */
    height: 20px;
    align-self: flex-end;
    /* background-color: transparent; */
    /* style="height: 20px;background-color: transparent;" */
}

.removeAsset button {
    /* background-color: green; */
    /* height: 20px; */
    /* background-color: transparent; */
    /* style="height: 20px;background-color: transparent;" */
    background-color: transparent;
    border: none;
}

.assets button {
    height: 4vh;
}

.removeAsset {
    display: flex;
    align-items: end;
}

.addAsset {
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
}

.addAssetButton {
    /* background-color: green; */
    color: black;
    padding: 4px 5px;
    border: 1.5px solid black;
    border-radius: 7px;
    margin-left: 6%;
    margin-bottom: 24px;
}

.investmentStyle {
    margin: 0px 6% 24px 6%;
    display: flex;
    flex-direction: column;
    gap: 2.5px;
}

.checkBoxInvestment {
    display: flex;
    gap: 3px;
}

.investmentStyleCheckBox {
    text-align: center;
    font-size: 13px;
    border: 1.5px solid black;
    padding: 5px 9px;
    border-radius: 10px;
    cursor: pointer;
}

.checkBoxInvestment input:checked + .investmentStyleCheckBox {
    background-color: rgb(7, 2, 32);
}

/* part 3 of the form */
.part3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.formPart3 {
    height: 100%;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 2px solid rgb(28, 27, 27);
}

.automatedRebalancing,
.taxSavingPref {
    margin: 24px 4%;
    /* background-color: orange; */
    width: 60%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    /* flex-direction: column; */
}

.automatedRebalancingText,
.taxSavingText {
    text-align: center;
    font-size: 13px;
    border: 1.5px solid black;
    padding: 5px 9px;
    border-radius: 10px;
    cursor: pointer;
}

.automatedRebalancingRadio input:checked+.automatedRebalancingText,
.taxSavingCheck input:checked+.taxSavingText {
    background-color: rgb(7, 2, 32);
}

/* .taxSavingPref {
    font-size: 18px;
} */

.riskAcknowledgementText {
    font-size: 15px;
    /* background-color: rebeccapurple; */
}

.riskAckCheck {
    display: flex;
    gap: 2px;
}

.financialGoals {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    margin: 24px 4%;
    width: 58%;
    /* background-color: green; */
}

.financialGoals textarea {
    width: 100%;
    padding: 6px;
}

.riskAcknowledgementContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin: 24px 4%;
}

#riskAckLabel {
    width: 12.9vw;
}

#riskAckDesc {
    text-align: left;
    font-size: 12px;
    /* width: 45%; */
    /* background-color: orange; */
}

.submitButton {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
}

.formPart3 button {
    width: 10%;
}

.navigationButton {
    padding: 8px 15px;
    font-size: large;
    font-weight: 600;
    border-radius: 16px;
    margin-bottom: 8px;
}

.buttonContainer {
    display: flex;
    /* background-color: red; */
    width: 47%;
    justify-content: space-between;
    margin: auto;
}

.errorDiv {
    font-size: 13.65px;
    color: transparent;
}

/* for part1 */
/* @media screen and (max-width: 916px) {

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        font-size: 30px;
    }

    .portfolioName,
    .portfolioType,
    .investmentHorizon,
    .riskTolerance,
    .investmentGoalSelect {
        flex-direction: column;
        font-size: xx-small;
        width: 100%;
        gap: 1px;
    }

    #portfolioNameInput {
        width: 240px;
    }

    .portfolioTypeText {
        font-size: 20px;
    }

    .radioPortfolioTypeElement {
        width: 200px;
    }

    .investmentHorizon select,
    .investmentGoalSelect select {
        width: 240px;
    }

    .investmentHorizon option,
    .investmentGoalSelect option {
        width: 80%;
    }

    .formPart1 {
        width: 100%;
    }

    .errorRiskTolerance,
    .errorPortfolioTypeInput {
        width: 150px;
    }
} */

/* for part2 */
/* @media screen and (max-width: 1274px) {

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        font-size: 30px;
    }

    .formPart2 {
        width: 100%;
    }

    .annualInvestmentCapacity,
    .lumpSumAmount,
    .monthlyContribution,
    .assets {
        display: flex;
        flex-direction: column;
    }

    .annualCapacityText {
        font-size: 19px;
    }

    .removeAsset {
        align-self: flex-start;
    }

    .addAssetButton {
        width: 80px;
        padding: 3px;
    }
} */

/* for part3 */
/* @media screen and (max-width: 1208px) {
    .formPart3 {
        width: 100%;
    }

    .automatedRebalancingContainer,
    .riskAcknowledgementContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .automatedRebalancingContainer {
        width: 258px;
        font-size: 17px;
        gap: 4px;
    }

    #riskAckLabel {
        width: 167px;
        font-size: 15px;
    }

    .automatedRebalancingRadio {
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
    }
} */

input {
    padding-left: 6px;
}

.wholeScreen {
    display: flex;
}