* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Courier, monospace;
    box-sizing: border-box;
}

header {
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: rgb(63, 61, 61);
}

header img {
    height: 25px;
    width: 25px;
}

html, body {
    background-color: #eefdf5;
    /* added */
    height: 100%;
    margin: 0;
    overflow: hidden;
    /* added */
}

/* added */
body {
    display: flex;
    flex-direction: column;
}

header {
    flex-shrink: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projectTitle {
    font-size: 25px;
    font-weight: 600;
}

.progressBar {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-bottom: 20px;
    align-items: center;
    color: rgb(63, 61, 61);
}

.progress {
    height: 27px;
    width: 27px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.progress img {
    height: 20px;
    width: 20px;
    /* border: 1.3px solid black; */
    background-color: rgb(203, 230, 217);
    padding: 8px;
    border-radius: 7px;
}


.progress .progressText {
    font-size: 9px;
    text-align: center;
}

.progressLine {
    background-color: black;
    height: 1.5px;
    width: 50px;
    align-self: center;
}

#wholeContent {
    display: flex;
    /* added */
    flex: 1;
    display: flex;
    overflow: hidden;
    /* added */
}

#form {
    width: 50%;
    /* background-color: green; */
    /* added */
    height: 100%;
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    /* added */
}

#form::-webkit-scrollbar {
    display: none;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 10px 0;
}

/* part 1 of the form */
.part1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.formPart1 {
    background-color: white;
    height: 100%;
    /* width: 48%; */
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 1px solid #00bc7d(28, 27, 27);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.portfolioName {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    font-size: 15px;
    width: 88%;
    margin: 24px 6% 19px 6%;
    /* background-color: red; */
}

.portfolioInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    width: 100%;
}

.portfolioType,
.riskTolerance {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 6% 19px 6%;
    gap: 2.5px;
}

.riskTolerance {
    margin: 0px 6% 24px 6%;
}

.radioPortfolioType,
.riskToleranceRadio {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
}

.radioPortfolioTypeElement,
.riskToleranceRadioElement {
    display: flex;
    width: 18.1%;
    /* background-color: rebeccapurple; */
}

.portfolioTypeText,
.riskToleranceText {
    /* text-align: center; */
    font-size: 13px;
    /* border: 1px solid grey; */
    border: 1px solid rgb(97, 95, 95);
    color: rgb(97, 95, 95);
    ;
    padding: 5px 9px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radioPortfolioTypeElement input:checked+.portfolioTypeText,
.riskToleranceRadioElement input:checked+.riskToleranceText {
    background-color: #42e0ae;
    border: 1px solid black;
    color: black;

}

.investment {
    display: flex;
    gap: 10px;
}

.investmentGoalSelect {
    display: flex;
    flex-direction: column;
    width: 88%;
    padding: 0px 0px 19px 6%;
    gap: 2.5px;
}

.investmentHorizon {
    display: flex;
    flex-direction: column;
    width: 88%;
    padding: 0px 6% 19px 0px;
    gap: 2.5px;
}

#investmentHorizon {
    width: 100%;
}


/* part 2 of the form  */
.part2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.formPart2 {
    background-color: white;
    height: 100%;
    display: flex;
    width: 96%;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 1px solid #00bc7d(28, 27, 27);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.annualInvestmentCapacity {
    display: flex;
    flex-direction: column;
    gap: 2.5px;
    font-size: 15px;
    width: 88%;
    margin: 24px 6% 19px 6%;
}

.annualCapacityContainer {
    width: 100%;
    display: flex;
    gap: 2.5px;
}

.annualCapacityContainer select {
    height: 100%;
    border-radius: 8px;
}

.annualCapacityInput {
    width: 100%;
}

.annualCapacityInput input {
    width: 100%;
}

.lumpMonthly {
    display: flex;
    gap: 10px;
    font-size: 15px;
    width: 88%;
    margin: 0px 6% 19px 6%;
}

.lumpSumAmount,
.monthlyContribution {
    display: flex;
    flex-direction: column;
    /* background-color: grey; */
    width: 50%;
}

.assetSubheading {
    font-size: 11px;
}

.assetDiv {
    margin: 0px 6% 1.5% 6%;
}

.assets {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    gap: 3px;
}

.subAssetDiv {
    width: 100%;
}

.deleteAssetDiv {
    display: flex;
    gap: 1%;
}

.currentValueInput {
    width: 88%;
}

.removeAsset {
    display: flex;
    align-items: center;
    width: 8%;
}

.removeAsset button {
    background-color: transparent;
    border: none;
}

.assets button {
    height: 4vh;
}



.addAsset {
    display: flex;
    justify-content: flex-start;
}

.addAssetButton {
    font-size: 0.7em;
    background-color: #42e0ae;
    color: black;
    padding: 4px 5px;
    border: none;
    border-radius: 7px;
    margin-left: 6%;
    margin-bottom: 19px;
}

.investmentStyle {
    margin: 0px 6% 24px 6%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkBoxInvestment {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.investmentStyleCheckBox {
    text-align: center;
    font-size: 13px;
    color: rgb(97, 95, 95);
    border: 1px solid rgb(97, 95, 95);
    padding: 5px 9px;
    border-radius: 10px;
    cursor: pointer;
}

.checkBoxInvestment input:checked+.investmentStyleCheckBox {
    background-color: #42e0ae;
    border: 1px solid black;
    color: black;
}

/* part 3 of the form */
.part3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.formPart3 {
    background-color: white;
    height: 100%;
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 20px;
    border: 1px solid #00bc7d(28, 27, 27);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 24px;
}

.optContainer {
    margin: 24px 6% 0px 6%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    /* background-color: red; */
}

.automatedRebalancing {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    /* background-color: pink; */
}

.taxSavingPref {
    margin: 19px 6% 0px 6%;
    /* width: 60%; */
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    /* background-color: green; */
}

.automatedRebalancingText,
.taxSavingText {
    text-align: center;
    font-size: 13px;
    color: rgb(97, 95, 95);
    border: 1px solid rgb(97, 95, 95);
    padding: 5px 9px;
    border-radius: 10px;
    cursor: pointer;
}

.automatedRebalancingRadio input:checked+.automatedRebalancingText,
.taxSavingCheck input:checked+.taxSavingText {
    background-color: #42e0ae;
    border: 1px solid black;
    color: black;
}

.financialGoals {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    margin: 19px 6% 0px 6%;
    width: 87.5%;
}

.financialGoals textarea {
    width: 100%;
    border: 1px solid rgb(97, 95, 95);
    background-color: rgb(248, 248, 248);
}

.riskAcknowledgementText {
    font-size: 15px;
    /* background-color: rebeccapurple; */
}

.riskAckCheck {
    display: flex;
    gap: 2px;
}

.riskAcknowledgementContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    margin: 19px 6% 0px 6%;
}

#riskAckLabel {
    width: 12.9vw;
}

#riskAckDesc {
    text-align: center;
    font-size: 12px;
}

.submitButton {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
}

.formPart3 button {
    width: 10%;
}

.navigationButton {
    padding: 8px 15px;
    font-size: large;
    font-weight: 600;
    border-radius: 16px;
    margin-bottom: 8px;
}

.buttonContainer {
    display: flex;
    /* background-color: red; */
    width: 47%;
    justify-content: space-between;
    margin: auto;
}

.errorDiv {
    font-size: 13.65px;
    color: transparent;
}

#forward {
    background-color: #42e0ae;
    border: none;
}

#prevButton {
    border: 1px solid;
}

/* for part1 */
/* @media screen and (max-width: 916px) {

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        font-size: 30px;
    }

    .portfolioName,
    .portfolioType,
    .investmentHorizon,
    .riskTolerance,
    .investmentGoalSelect {
        flex-direction: column;
        font-size: xx-small;
        width: 100%;
        gap: 1px;
    }

    #portfolioNameInput {
        width: 240px;
    }

    .portfolioTypeText {
        font-size: 20px;
    }

    .radioPortfolioTypeElement {
        width: 200px;
    }

    .investmentHorizon select,
    .investmentGoalSelect select {
        width: 240px;
    }

    .investmentHorizon option,
    .investmentGoalSelect option {
        width: 80%;
    }

    .formPart1 {
        width: 100%;
    }

    .errorRiskTolerance,
    .errorPortfolioTypeInput {
        width: 150px;
    }
} */

/* for part2 */
/* @media screen and (max-width: 1274px) {

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        font-size: 30px;
    }

    .formPart2 {
        width: 100%;
    }

    .annualInvestmentCapacity,
    .lumpSumAmount,
    .monthlyContribution,
    .assets {
        display: flex;
        flex-direction: column;
    }

    .annualCapacityText {
        font-size: 19px;
    }

    .removeAsset {
        align-self: flex-start;
    }

    .addAssetButton {
        width: 80px;
        padding: 3px;
    }
} */

/* for part3 */
/* @media screen and (max-width: 1208px) {
    .formPart3 {
        width: 100%;
    }

    .automatedRebalancingContainer,
    .riskAcknowledgementContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .automatedRebalancingContainer {
        width: 258px;
        font-size: 17px;
        gap: 4px;
    }

    #riskAckLabel {
        width: 167px;
        font-size: 15px;
    }

    .automatedRebalancingRadio {
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
    }
} */

input {
    padding-left: 6px;
}

.wholeScreen {
    display: flex;
}

.required {
    color: red;
}

.formTitle {
    font-size: 15px;
    font-weight: 600;
}

button:disabled {
    cursor: not-allowed;
}

.input {
    border: 1px solid rgb(97, 95, 95);
    border-radius: 6px;
    background-color: rgb(248, 248, 248);
    height: 29px;
    width: 100%;
}

.disable:hover{
    cursor: not-allowed;
}

/* added */
.tableSection {
    width: 50%;
    height: 100%;
    /* background-color: pink; */
    padding: 10px;
    box-sizing: border-box;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.tableWrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    background: #ffffff;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

th, td {
    border: 1px solid grey;
    text-align: center;
    font-size: 13px;
    /* word-break: break-word; */
}

th {
    background-color: #42e0ae;
    color: black;
    font-weight: 600;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

td {
    background-color: #f7f7f7;
    color: #333;
    padding: 0px 6px;
    font-size: 11px;
    text-align: center;
    /* border-radius: 6px; */
}

tbody tr:hover td {
    background-color: #d5efe7;
}
