* {
    padding: 0;
    margin: 0;
}

header {
    height: 14vh;
    /* width: 100vw; */
    /* background-color: rgb(13, 5, 75); */
    /* position: sticky;
    top: 0; */
}

body {
    background-color: aliceblue;
}

footer {
    height: 14vh;
    width: 100vw;
    /* background-color: aqua; */
    background-color: rgb(13, 5, 75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(129, 234, 129); */
    margin: 0 0 10px 0;
    /* width: 100vw; */
    /* gap: 24px; */
    /* padding-left: 10vw; */
    /* height: 66vh; */
    /* width: 100vw; */
}

/* form {
    padding: 24px;
} */

.part1 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}

.formPart1 {
    background-color: rgb(215, 228, 243);
    height: 100%;
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 4vw 0 4vw;
    /* display: none; */
    border-radius: 20px;
    padding: 24px;
    gap: 24px
}

.formPart1 .portfolioName {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}

/* .formPart1 .portfolioName input {
    width: 20vw;
} */

#portfolioNameInput {
    width: 20vw;
}

.formPart1 select {
    width: 20vw;
    /* background-color: blue; */
    font-size: medium;
}

.radioPortfolioType,
.riskToleranceRadio {
    font-size: 23px;
    /* background-color: brown; */
    width: 20vw;


}

.radioPortfolioTypeElement,
.riskToleranceRadioElement {
    display: flex;
    gap: 2vh;
    /* justify-content: center; */
}

.portfolioName,
.investmentGoalSelect,
.investmentHorizon {
    display: flex;
    justify-content: space-between;
}

.portfolioName input,
.investmentGoalSelect select,
.investmentHorizon select {
    height: 22px;
    /* width: 250px; */
}

.portfolioType,
.riskTolerance {
    display: flex;
    justify-content: space-between
}

.imagePart1 {
    display: flex;
    align-items: center;
}

.imagePart1 img {
    height: 90%;
}

.portfolioInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    font-size: small;
}

.formTitle {
    font-size: 23px;
    font-weight: 600;
}

.part2 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}

.formPart2 {
    /* background-color: grey; */
    background-color: rgb(215, 228, 243);
    /* height: 100%; */
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: flex-start; */
    padding: 0 2vw 0 2vw;
    /* display: none; */
    font-size: 20px;
    border-radius: 20px;
    padding: 24px;
    gap: 24px
}

.addAsset {
    /* background-color: pink; */
    display: flex;
    justify-content: flex-start;
}

.addAssetButton {
    width: 12%;
    border-radius: 10px;
    border: 2px solid aliceblue;
}

.annualInvestmentCapacity,
.lumpSumAmount,
.monthlyContribution {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    align-items: flex-start;
}

.annualInvestmentCapacity input,
.lumpSumAmount input,
.monthlyContribution input {
    height: 22px;
    width: 250px;
}

.assets {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 10px;
    /* background-color: blue; */
    /* align-items: center;     */
}

.removeAsset {
    display: flex;
    align-items: flex-end;
    /* background-color: green; */
    height: 20px;
    align-self: flex-end;
    /* background-color: transparent; */
    /* style="height: 20px;background-color: transparent;" */
}

.removeAsset button {
    /* background-color: green; */
    /* height: 20px; */
    /* background-color: transparent; */
    /* style="height: 20px;background-color: transparent;" */
    background-color: transparent;
    border: none;
}

.assetClass,
.percentageAllocation,
.specificFund,
.currentValue {
    font-size: medium;
}

.assets button {
    height: 4vh;
}

.removeAsset {
    display: flex;
    align-items: end;
}

.imagePart2 {
    display: flex;
    align-items: center;
}

.imagePart2 img {
    height: 90%;
}

.annualCapacityContainer {
    display: flex;
    flex-direction: column;
}

.part3 {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
}

.formPart3 {
    /* background-color: grey; */
    background-color: rgb(215, 228, 243);
    height: 100%;
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2vw 0 2vw;
    /* display: none; */
    font-size: large;
    border-radius: 20px;
    padding: 24px;
    gap: 24px
}

.automatedRebalancing {
    display: flex;
    justify-content: space-between;
    /* background-color: orange; */
    width: 60%;
    flex-direction: column;
}

.automatedRebalancingContainer {
    display: flex;
    justify-content: flex-start;
    /* background-color: grey; */
    gap: 10px;
    width: 100%;
    align-items: flex-end;
}

.taxSavingPref {
    font-size: 18px;
    /* background-color: rebeccapurple; */
}

.riskAcknowledgementText {
    font-size: 17px;
    /* background-color: rebeccapurple; */
}

.riskAckCheck {
    display: flex;
}

.imagePart3 {
    display: flex;
    align-items: center;
}

.imagePart3 img {
    height: 90%;
}

.financialGoals {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    /* background-color: green; */
}

.riskAcknowledgementContainer {
    display: flex;
    /* flex-wrap: nowrap; */
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
    gap: 6px;
}

#riskAckLabel {
    width: 22.9vw;
    /* background-color: blue; */
}

#riskAckDesc {
    text-align: center;
    font-size: 14px;
    /* background-color: orange; */
}

.submitButton {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
}

.formPart3 button {
    width: 10%;
}

.navigationButton {
    padding: 8px 15px;
    font-size: large;
    font-weight: 600;
    border-radius: 16px;
    margin-bottom: 8px;
}

.buttonContainer {
    display: flex;
    /* background-color: red; */
    width: 51%;
    justify-content: space-between;
    margin: auto;
}

.errorDiv {
    font-size: 13.65px;
    color: transparent;
}

/* for part1 */
@media screen and (max-width: 916px) {

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        font-size: 30px;
    }

    .portfolioName,
    .portfolioType,
    .investmentHorizon,
    .riskTolerance,
    .investmentGoalSelect 
        {
        flex-direction: column;
        /* align-items: center; */
        font-size: xx-small;
        width: 100%;
        /* background-color: green; */
        gap: 1px;
    }

    #portfolioNameInput {
        /* background-color: orange; */
        width: 240px;
    }

    .portfolioTypeText {
        font-size: 20px;
    }

    .radioPortfolioTypeElement {
        width: 200px;
    }
    .investmentHorizon select,
    .investmentGoalSelect select {
        /* background-color: rebeccapurple; */
        width: 240px;
    }

    .investmentHorizon option,
    .investmentGoalSelect option {
        /* background-color: rebeccapurple; */
        width: 80%;
    }

    .formPart1 {
        /* background-color: red;   */
        width: 100%; 
    }

    .errorRiskTolerance, .errorPortfolioTypeInput {
        width: 150px;
    }
}

/* for part2 */
@media screen and (max-width: 1274px) {

    header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        font-size: 30px;
    }

    .formPart2 {
        /* background-color: green; */
        /* display: flex;
        flex-direction: column; */
        width: 100%;
    }

    .annualInvestmentCapacity, .lumpSumAmount, .monthlyContribution, .assets {
        display: flex;
        flex-direction: column;
    }

    .annualCapacityText {
        font-size: 19px;
    }

    .removeAsset {
        align-self: flex-start;
    }

    .addAssetButton {
        width: 80px;
        padding: 3px;
    }
}

/* for part3 */
@media screen and (max-width: 1208px) {
    .formPart3 {
        /* background-color: green; */
        /* display: flex;
        flex-direction: column; */
        width: 100%;
    }

    .automatedRebalancingContainer, .riskAcknowledgementContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* gap: 25px; */
    }

    .automatedRebalancingContainer{
        width: 258px;
        font-size: 17px;
        gap: 4px;
    }

    #riskAckLabel {
        width: 167px;
        font-size: 15px;
        /* background-color: orange; */
    }

    .automatedRebalancingRadio {
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
    }
}